/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Min height */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.4;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

/* Universal Styles */
body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/* Header */
header {
  align-items: center;
  background-color: #ff8000;
  display: flex;
  padding: .5rem 3.75rem;
}

header .logo-small {
  display: none;
}

header .logo-small,
header .logo-big {
  flex-grow: 1;
}

nav li {
  display: inline;
  padding-right: 2rem;
}

nav li:last-child {
  padding-right: 0;
}

/* Banner */
#banner {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-6/banner.png) center center no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 1.5rem 2rem 2.5rem;
  position: relative;
  text-align: center;
}

#banner:before { /* Orange Overlay */
  background-color: rgba(255, 128, 0, 0.75);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#banner * {
  position: relative; /* Makes elements display above overlay. */
}

#banner h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Creepster", cursive;
  font-size: 9rem;
  padding: 6rem 0 2rem;
}

#banner p {
  color: white;
  font-size: 1.375rem;
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 40px;
  width: 65%;
}

/* Color Guide */
#color-guide {
  padding: 3.875rem 15% 13.5rem 15%;
}

#color-guide .introduction {
  font-size: 1.375rem;
  line-height: 1.4;
  margin-bottom: .75rem;
  padding: 0 10%;
  text-align: center;
}

#color-guide h2 {
  color: #ff8000;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2.4375rem; 
}

#color-guide .color {
  display: flex;
  padding-top: 5.25rem;
  justify-content: space-between;
}

.color .information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.color .information h3 {
  font-size: 1.375rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

.color .information p {
  font-size: .875rem;
  line-height: 1.4;
}

.color .swatches {
  width: 60%;
}

.color .swatches h4 {
  color: #9b9b9b;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.color .swatch {
  border: 10px solid #e6e6e6;
  display: flex;
  height: 6.6875rem;
  margin-bottom: 1.25rem;
}

.color .swatch:last-child {
  margin-bottom: 0;
}

.color .swatch > div {
  border-right: 10px solid #e6e6e6;
  flex-grow: 1;
}

.color .swatch > div:last-child {
  border-right: 0;
}

/* Red Swatches */
.reds .base-color {
  color: hsl(350, 100%, 50%);
}

/* Red lightness decreases by 15 */
.reds .lightness .color-1 {
  background-color: hsl(350, 100%, 80%);
}

.reds .lightness .color-2 {
  background-color: hsl(350, 100%, 65%);
}

.reds .lightness .color-3 {
  background-color: hsl(350, 100%, 50%);
}

.reds .lightness .color-4 {
  background-color: hsl(350, 100%, 35%);
}

.reds .lightness .color-5 {
  background-color: hsl(350, 100%, 20%);
}

/* Red saturation decreases by 15 */
.reds .saturation .color-1 {
  background-color: hsl(350, 100%, 50%);
}

.reds .saturation .color-2 {
  background-color: hsl(350, 85%, 50%);
}

.reds .saturation .color-3 {
  background-color: hsl(350, 70%, 50%);
}

.reds .saturation .color-4 {
  background-color: hsl(350, 55%, 50%);
}

.reds .saturation .color-5 {
  background-color: hsl(350, 40%, 50%);
}

/* Red hue increases by 15 */
.reds .hue .color-1 {
  background-color: hsl(320, 100%, 50%);
}

.reds .hue .color-2 {
  background-color: hsl(335, 100%, 50%);
}

.reds .hue .color-3 {
  background-color: hsl(350, 100%, 50%);
}

.reds .hue .color-4 {
  background-color: hsl(5, 100%, 50%);
}

.reds .hue .color-5 {
  background-color: hsl(20, 100%, 50%);
}

/* Green Swatches */
.greens .base-color {
  color: hsl(129.9,100%,50%);
}

/* Green lightness decreases by 20 */
.greens .lightness .color-1 {
  background-color: hsl(103, 100%, 90%);
}

.greens .lightness .color-2 {
  background-color: hsl(103, 100%, 70%);
}

.greens .lightness .color-3 {
  background-color: hsl(103, 100%, 50%);
}

.greens .lightness .color-4 {
  background-color: hsl(103, 100%, 30%);
}

.greens .lightness .color-5 {
  background-color: hsl(104, 100%, 10%);
}

/* Green saturation decreases by 20 */
.greens .saturation .color-1 {
  background-color: hsl(130, 100%, 50%);
}

.greens .saturation .color-2 {
  background-color: hsl(130, 80%, 50%);
}

.greens .saturation .color-3 {
  background-color: hsl(130, 60%, 50%);
}

.greens .saturation .color-4 {
  background-color: hsl(130, 40%, 50%);
}

.greens .saturation .color-5 {
  background-color: hsl(131, 20%, 50%);
}

/* Green hue increases by 22 */
.greens .hue .color-1 {
  background-color: hsl(86, 100%, 50%);
}

.greens .hue .color-2 {
  background-color: hsl(108, 100%, 50%);
}

.greens .hue .color-3 {
  background-color: hsl(130, 100%, 50%);
}

.greens .hue .color-4 {
  background-color: hsl(152, 100%, 50%);
}

.greens .hue .color-5 {
  background-color: hsl(174, 100%, 50%);
}

/* Blue Swatches */
.blues .base-color {
  color: hsl(220,100%,50%);
}

/* Blue lightness decreases by 20 */
.blues .lightness .color-1 {
  background-color: hsl(220, 100%, 90%);
}

.blues .lightness .color-2 {
  background-color: hsl(220, 100%, 70%);
}

.blues .lightness .color-3 {
  background-color: hsl(220, 100%, 50%);
}

.blues .lightness .color-4 {
  background-color: hsl(220, 100%, 30%);
}

.blues .lightness .color-5 {
  background-color: hsl(220, 100%, 10%);
}

/* Blue saturation decreases by 20 */
.blues .saturation .color-1 {
  background-color: hsl(220, 100%, 50%);
}

.blues .saturation .color-2 {
  background-color: hsl(220, 80%, 50%);
}

.blues .saturation .color-3 {
  background-color: hsl(220, 60%, 50%);
}

.blues .saturation .color-4 {
  background-color: hsl(220, 40%, 50%);
}

.blues .saturation .color-5 {
  background-color: hsl(220, 20%, 50%);
}

/* Blue hue decreases by 20 */
.blues .hue .color-1 {
  background-color: hsl(260, 100%, 50%);
}

.blues .hue .color-2 {
  background-color: hsl(240, 100%, 50%);
}

.blues .hue .color-3 {
  background-color: hsl(220, 100%, 50%);
}

.blues .hue .color-4 {
  background-color: hsl(200, 100%, 50%);
}

.blues .hue .color-5 {
  background-color: hsl(180, 100%, 50%);
}

/* Footer */
footer {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-6/footer.png") center center no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.125rem;
  line-height: 1.4;
  position: relative;
  padding: 7rem 2rem 7rem;
  text-align: center;
}

footer:before { /* Overlay */
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

footer * {
  position: relative; /* Makes elements display above overlay. */
}

footer strong {
  display: block;
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

footer p {
  padding-bottom: 4.3125rem;
  margin: 0 auto;
  width: 50%;
}

footer .button {
  background-color: #ff8000;
  border-radius: 4px;
  padding: 1.25rem 3.75rem;
}

@media only screen and (max-width: 990px) {
  body {
    font-size: .875rem;
  }

  header .logo-big {
    display: none;
  }

  header .logo-small {
    display: block;
  }
}

@media only screen and (max-width: 820px) {
  #banner h1 {
    font-size: 6rem;
  }

  #banner p {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  #color-guide {
    padding: 3.875rem 2rem 13.5rem 2rem;
    width: 100%;
  }

  #color-guide .introduction {
    padding: 0;
    text-align: center;
  }

  #color-guide .introduction h2 {
    text-align: center;
  }

  #color-guide .color {
    align-items: center;
    flex-direction: column;
  }

  .color .information {
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
  }

  .color .information h3 {
    padding-bottom: 1.5rem;
  }

  .color .information p {
    margin-bottom: 2rem;
  }

  .color .swatches {
    width: 100%;
  } 
}

@media only screen and (max-width: 590px) {
  header {
    align-items: stretch;
    flex-direction: column;  
    padding-left: 0;
    padding-right: 0;
  }

  nav ul li {
    display: inline-block; 
    padding: 1rem 0 1rem 2rem; 
    width: 100%;
  }

  header .logo-small {
    margin-bottom: 1rem;
    margin: 0 auto;
  }
  
  #banner h1 {
    font-size: 4rem;
    text-align: left;
  }

  #banner p {
    text-align: left;
  }

  #color-guide .introduction {
    text-align: left;
  }

  #color-guide .introduction h2 {
    text-align: left;
  }

  footer p {
    padding-bottom: 4.3125rem;
    text-align: left;
    width: 100%;
  }

  footer strong {
    text-align: left;
  }
  
  footer .button {
    background-color: #ff8000;
    border-radius: 4px;
    display: block;
    padding: 1rem 0;
    width: 100%;
  }
}
