body {
  background-color: #fcfcfc;
  color: #db6363;
  text-align: center;
}

.grid {
  display: grid;
  grid-template: 100px 8fr 5fr 4fr 5fr 80px / repeat(6, 1fr);
  grid-gap: 20px;
}

header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
}

.title {
  margin: auto;
  color: #dc6363;
  font-family: Poppins;
  font-size: 2em;
  font-weight: 700;
}

.banner {
  padding: 3%;
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3.7px;
  grid-column-start: 1;
  grid-column-end: 7;
}

p, .banner-contents {
  max-width: 80%;
  margin: auto;
}

img {
  height: 5em;
  margin-left: 75px;
}

.about {
  background-color: #f0f0f0;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 7;
}

.text {
  color: #2f2d2d;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.box {
  background-color: #2f2f2f;
  color: #ffffff;
  display: grid;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

.address {
  grid-column: 1 / span 2;
}

.hours {
  grid-column: 3 / span 2;
}

.call-us {
  grid-column: 5 / span 2;
}

.icon {
  height: 80px;
  margin: auto;
}

.testimonial {
  background-color: #f0f0f0;
  color: #db6363;
  display: grid;
  font-family: Poppins;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 3.7px;
}

.one {
  grid-column: 1 / span 3;
}

.two {
  grid-column: 4 / span 3;
}

footer {
  background-color: #db6363;
  color: #ffffff;
  display: grid;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.4px;
  grid-column-start: 1;
  grid-column-end: 7;
}
