/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
  display: block;
}

a {
  text-decoration: none;
}

/* General styles */
body {
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Navigation */
.nav {
  flex: 1 0 auto;
  padding: 55px 0;
  text-align: center;
}

.nav h1 {
  color: #cc7c7c;
  font-size: 1.2rem;
  padding: 0 30px;
}

.nav ul {
  margin-top: 15px;
}

.nav ul li {
  padding: 8px 30px;
}

.nav li a {
  color: #cc7c7c;
  display: inline-block;
  transition: color .3s;
}

.nav li a:hover {
  color: #dba3a3;
}

/* Main section */
.main {
  background-color: #ff9c9c;
  flex: 80%;
  padding: 55px 30px;
}

.main img {
  height: 350px;
  max-width: 550px;
  width: 100%;
}

.main ul {
  margin-top: 15px;
}

.main h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 15px;
}

.main video {
  height: auto;
}

.main p {
  margin-top: 15px;
  width: 55%;
}

.main a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .nav ul li {
    padding: 0;
  }
  
  .nav ul li a {
    display: block;
    padding: 8px 30px;
    transition: all .5s;
  }
  
  .nav ul li a:hover {
    background-color: #cc7c7c;
    color: #fff;
  }
  
  .main {
    padding: 55px 0 55px 30px;
  }

  .main h1,
  .main ul,
  .main p,
  .main a {
    padding-right: 10px;
  }

  .main h1 {
    font-size: 2rem;
  }

  .main img { 
    height: auto;
  }
  
  .main p {
    width: 100%;  
  }
}
