/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Min height */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.4;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* General styles */
.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 .625rem;
  text-align: center;
}

/* Header */
header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  z-index: 2;
}

label, 
#hamburger { 
  display: none; 
}

nav ul {
  display: flex;
  margin-left: 1.25rem;
}

nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  padding: 1.125rem 0;
  text-align: center;
  width: 80px;
}

/* Main */
main {
  position: relative;
  text-align: center;
}

main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 4.375rem;
  padding-top: 12.5rem;
  padding-bottom: 5rem;
  text-transform: uppercase;
}

/* Main */
/* Jumbotron */
.jumbotron {
  background-image: url("http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 750px;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 1.3px;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */
/* Supporting section */
.supporting {
  padding-top: 8.125rem;
  padding-bottom: 10rem;
}

.supporting .col {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  height: 200px;
  text-align: center;
  width: 200px;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 1.4375rem;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: .875rem;
  line-height: 20px;
  margin-bottom: 1.25rem;
  padding: 0 1.25rem;
}

.supporting a {
  background-color: white;
  border: 2px solid #333333; 
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: .75rem;
  letter-spacing: 1.3px;
  margin-bottom: .625rem;
  padding: .625rem;
  text-decoration: none;
  text-transform: uppercase;
}


/* Footer */
footer {
  background-color: #333;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 1.3rem 0;
}

footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.6875rem;
  text-transform: uppercase;
}

/* Responsive design */
@media (max-width: 500px) {
  nav label { 
    background: #a02620;
    color: white;
    cursor: pointer;
    display: inline-block; 
    font-size: 1.5rem;
    padding: .625rem 1.25rem;
  }

  nav ul {
    display: none; 
    margin-left: 0;
  }

  nav input:checked ~ ul { 
    align-items: center;
    display: flex; 
    flex-direction: column;
  }

  nav ul li {
    width: 100%;
  }

  main h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 18.75rem;
  }

  .supporting .col {
    width: 100%;
  }

  footer {
    position: relative;
  }
}
