body {
  font-family: Roboto, sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
}

nav {

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/personal_portfolio/background.jpeg);
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  350px;
  height: 300px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  h1 { text-align: center; padding-bottom: 15px;}
  nav { justify-content: center;}
}

@media screen and (max-width: 576px) { 
  h1 { text-align: center;}
  nav { flex-direction: column; align-items: center;}
  nav a {padding: 5px 20px;}
}

@media screen and (max-width: 376px) {
  .jumbotron h2 { font-size: 2.3rem; }
}
